@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Goto Helloworld", "Index", "HelloWorld")

<a href="/helloworld/index">adto ta sa hello world</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
