@model Person
@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["var1"]</h1>

<p> my name is : @Model.Fullname</p>
<p>I am very young : @Model.Age</p>


<br>
<a href="/helloworld/index">adto sa hello world controller</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
