@model pelayoApp.Models.Person
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Fullname</h1>
<h2>@Model.ID</h2>


<br>
<a href="/helloworld/index">adto sa hello world controller</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
