@model List<Person>

@{
    ViewData["Title"] = "Privacy Policy";
}

@foreach (var person in Model)
{
    <li>@person.Fullname = @person.Age </li>
}


<h1>HEllo Earth</h1>

<p>Use this page to detail your site's privacy policy.</p>
